.portfolio {
  background-image: url('../assets/background_portfolio.svg');
  padding-block: 1rem 3rem;
  text-align: center;
  color: white;
}

.portfolio h2 {
  font-size: 2rem;
  background-color: rgba(90, 143, 141, 0.8);
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 3px 3px 3px rgb(95, 77, 99);
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  perspective: 4000px;
}
