.portfolio {
  background-color: rgb(224, 255, 254);
  padding-block: 1rem 3rem;
  text-align: center;
  color: rgb(90, 143, 141);
}

.portfolio h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  perspective: 4000px;
}
