.contact-container {
  background-color: rgb(224, 255, 254);
  padding: 0.5rem 0 1.5rem 0;
  color: rgb(90, 143, 141);
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h3 {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 0;
}

.contact-header h4 {
  margin: 1rem 0 3rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content img {
  border-radius: 12px;
  width: 310px;
  max-width: 100%;
  transform: translateY(-15px);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
  margin-inline: auto;
}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  border-radius: 12px;
  border: 1px solid rgb(90, 143, 141);
}

.contact-form button {
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  border: none;
  border-radius: 12px;
  background-color: rgb(65, 143, 141);
  width: fit-content;
  margin-inline: auto;
  transition: all 0.2s ease-in-out;
}

.contact-form button:hover {
  background-color: rgb(64, 101, 100);
}
