.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  transition: all ease-in-out 0.2s;
}

.navbar-top {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out 0.5s;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

.nav-list a:hover {
  cursor: pointer;
}
